html,
body {
    background-color: transparent;
    font-family: 'Press Start 2P', cursive;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 0 #000, 3px 0 0 #000, 6px 6px 0 #000, 6px 0 0 #000;
    line-height: 120%;
    font-size: 36px;
}

.line {
    margin: 5px 0;
}

    .line > img {
        margin: 0 0 5px 0;
    }

.kill-icon {
    height: 38px;
}

.daily {
    color: red;
}

.weekly {
    color: #0094ff;
}

.ultra {
    color: #4cff00;
    animation: glow 3s linear 0s infinite alternate;
}

@keyframes glow {
    0% {
        color: #b6ff00;
    }

    100% {
        color: #00ff21;
    }
}
