* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'press_start_2pregular';
    background-color: #291255;
    color: #fff;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000, 3px 3px 0 #000, 3px 0 0 #000, 4px 4px 0 #000, 4px 0 0 #000;
    line-height: 125%;
    font-size: 16px;
    max-width: 900px;
    margin: 0 auto;
}

body {
    position: relative;
    z-index: 1;
}

li {
    list-style-position: inside;
    list-style-type: none;
    margin: 5px 0;
}

a {
    color: #00ff21;
}

button,
input {
    font-family: Consolas;
    font-weight: bold;
}

header {
    text-align: center;
    margin: 40px 0 80px 0;
}

    header > h1 {
        font-size: 36px;
    }

    header > small {
        font-size: 12px;
    }

    header > h1 > .icon {
        height: 40px;
    }

.page-block {
    margin: 40px 60px;
}

.page-block-content {
    margin: 0 0 0 80px;
}

    .page-block-content > h2 {
        font-size: 24px;
        display: block;
        margin: 10px 0 20px 0;
        padding: 5px 0 0 0;
    }

    .page-block-content > p {
        margin: 30px 0;
    }

        .page-block-content > p > img {
            display: block;
            margin: 20px auto;
            max-width: 100%;
        }

.page-block.centered {
    text-align: center;
}

.page-block.quickstart {
    background: url(Stuff/Computer.gif) left top no-repeat;
}

.page-block.help {
    background: url(Stuff/LargeMedkit.png) left top no-repeat;
}

.page-block.about {
    background: url(Stuff/PresentChest.png) left top no-repeat;
}

.page-block.friends {
    background: url(Stuff/Ally_idle.gif) left top no-repeat;
    background-size: 75px 75px;
}

    .page-block.friends a {
        display: block;
    }

    .page-block.friends li {
        display: block;
        line-height: 150%;
    }

.generator {
    width: 400px;
    margin: 0 auto;
}

    .generator > div {
        margin: 0 0 10px 0;
    }

    .generator label {
        text-align: center;
        display: block;
        font-size: 12px;
        padding: 0 0 3px 0;
    }

    .generator input,
    .generator button {
        text-align: center;
        width: 100%;
        font-size: 24px;
    }

    .generator button {
        padding: 10px 20px;
        width: 100%;
    }

/* -- */

.popup {
    display: block;
    position: fixed;
    z-index: 10;
    top: 10%;
    left: 50%;
}

    .popup::after {
        display: block;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(72, 72, 72, 0.50);
        z-index: -1;
    }

    .popup > .info,
    .popup > .error {
        text-align: center;
        padding: 20px;
        margin-left: -275px;
        width: 550px;
    }

    .popup button {
        margin: 0 auto;
        margin: 20px auto 0 auto;
        padding: 5px 10px;
        display: block;
    }

    .popup > .info {
        background-color: #4176d7;
        border: 4px solid #001b4d;
    }

    .popup > .error {
        background-color: #fb6565;
        border: 4px solid #4b0000;
    }
